/* 회원가입  */
.page-join h1{padding:10px 0;font-size:24px}
.form{display:block;height:38px;padding:5px;border:1px solid #dadada;font-size:1rem}

@mixin gridDivide($columnfr,$gap){
    grid-template-columns:$columnfr;
    gap:$gap;
}
.grid{
    display:grid;margin-top:5px;
    align-items:center;
    grid-auto-rows:auto;
    &:first-child{margin-top:30px;}
    &.gender{margin-top:30px;@include gridDivide(1fr 1fr,0)}
    &.birth{margin-top:30px;@include gridDivide(0fr 2fr 1fr 1fr,0 10px)}
    &.phone{@include gridDivide(0fr 1fr 2fr 1fr,0 10px)}
    & + .wrong{display:inline-block;padding:5px 0 5px 5px;font-size:0.75rem;color:#f40}
}
.btn-submit{position:fixed;width:100%;bottom:20px;left:0;padding:0 20px}