.switch-comm{
    display:flex;justify-content: space-between;align-items:center;padding:5px 0;margin-top:30px;
    & + & {margin-top:0}
    .switch{
        position:relative;
        label{
            display:block;position:relative;width:56px;height:28px;font-size:0;border-radius:14px;background:#adb5bd;cursor:pointer;
            &:before{content:'';position:absolute;right:12px}
            &:after{content:'';position:absolute;width:24px;height:24px;top:2px;left:3px;border-radius:50%;background:#fff;transition: all .3s;}
        }
        input{
            position:absolute;width:1px;height:1px;appearance:none;
            &:checked + label{background:#f40000}
            &:checked + label:before{left:12px;right:auto}
            &:checked + label:after{left:auto;right:3px}
        }
    }
}