/* reset */
* {box-sizing: border-box}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}
:after,:before {
    box-sizing: inherit
}
blockquote:after,blockquote:before,q:after,q:before {
    content: "";
    content: none
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-style: normal;
    font-weight: 400
}
body {
    text-size-adjust: none;
    word-break: keep-all;
    line-height: 1;
    text-rendering: optimizeLegibility;
    color: #000;
    font-family: system-ui,AppleSDGothicNeo,sans-serif;
    font-size: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased
}
h1,h2,h3,h4,h5,h6 {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit
}
fieldset,img {
    border: 0;
    vertical-align: top
}

embed,iframe,object {
    border: 0;
    vertical-align: bottom
}

a {
    background-color: transparent;
    color: inherit;
    text-decoration: none
}

small {
    font-size: 80%
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

table caption {
    caption-side: top
}

blockquote,q {
    quotes: none
}

legend {
    color: inherit
}

input,select {
    vertical-align: middle
}

li {
    list-style: none
}

input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none
}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none
}
button,input,textarea {
    width:100%;height:100%;
    border-radius: 0;
    border: none;
    background: 0 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    -webkit-text-size-adjust: none
}
select{
    border-radius: 0;
    border: none;
    background: 0 0;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    -webkit-text-size-adjust: none}

  /* Layerout */
body {
    min-width: 320px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-size: 16px;
}

@mixin gridDivide($columnfr,$gap){
    grid-template-columns:$columnfr;
    gap:$gap;
}
.grid{
    display:grid;
    align-items:center;
    grid-auto-rows:auto;
    & + & {margin-top:5px}
    & + .wrong{display:inline-block;padding:5px 0 15px 5px;font-size:0.75rem;color:#f40}
    &.wrong > * {border-color:#f40}
    
    /* grid 타입 추가 */
    &.gender{margin-top:30px;@include gridDivide(1fr 1fr,0)}
    &.birth{margin-top:30px;@include gridDivide(0fr 2fr 1fr 1fr,0 10px)}
    &.phone{@include gridDivide(0fr 1fr 2fr 1fr,0 10px)}
    &.switch{margin-top:30px}
}

/* Page */
.wrap-join h1{
    padding:10px 0;
    font-size:24px}
.wrap-join form{
    padding-top:20px
}
.inp-box{
    display:block;
    height:38px;
    padding:5px;
    border:1px solid #dadada;
    font-size:1rem
}
.btn-submit{
    position:fixed;
    width:100%;
    bottom:20px;
    left:0;
    padding:0 20px}

